
@font-face {
    font-family: Moon-Regular;
    src: url(Moon-Regular.otf);
}

.fa-solid {
    color: rgb(100, 100, 100);
}

* {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 8px 8px 0px 8px;
}

#buttons{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    border-top: 2px solid rgb(50, 50, 50);
}

button {
    background-color: rgb(20, 20, 20);
    width: 10vw;
    height: 10vw;
    margin: 0vw;
    font-size: 4vw;

    cursor: pointer;
    text-decoration: none;
    color: rgb(150, 150, 150);
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(30, 30, 30);
    transition: all 300ms cubic-bezier(.68,-0.55,.27,1.55);
}
.page {
    width: 20vw;
    font-size: 2vw;
}

button:hover {
    font-size: 6vw;

    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(150, 200, 150);
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}
.page:hover {
    font-size: 2.5vw;
}

header {
    text-align: center;
    font-size: 6vw;
    padding: 3vw 0;
    margin: 0 0 1vw 0;
    font-weight: 900;

    font-family: Moon-Regular;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    border-top: 2px solid rgb(50, 50, 50);
}

h1 {
    margin-top: 0.5rem;
}

img {
    width: 50vw;
    margin: 1vw;
    transform: scale(0.8);
    rotate: 2deg;
    /* border: 2px solid rgb(128, 128, 128); */
    box-shadow: 0px 0px 5px black;
    border-radius: 8px;
    transition: all 300ms cubic-bezier(.68,-0.55,.27,1.55);
}
.text ~ img {
    rotate: -2deg;
}
img:hover {
    transform: scale(0.9);
    rotate: 0deg;
    box-shadow: 0px 0px 5px white;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-top: 2px solid rgb(50, 50, 50);
}

.text {
    padding: 0px 1vw 0px 1vw;
    margin: 1vw;
    /* border: 2px solid white; */
    border-radius: 8px;
    background-color: rgb(25, 25, 25);
    box-shadow: 0px 0px 5px black;
    align-items: top;
    /* border-top: 2px solid white; */
    font-size: 1.5vw;
}

.top-left {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.tl-one {
    font-size: 4vw;
    margin: 1vw;
    /* line-height: 2vw; */
}
.tl-two {
    font-size: 2vw;
    margin: 1vw;
    text-align: right;
    /* line-height: 1vw; */
}

.red {
    text-shadow: 0px 0px 10px #ff0000;
    /* font-weight: 900; */
}

.green {
    text-shadow: 0px 0px 3px #00b61e;
    /* font-weight: 900; */
}

.orange {
    text-shadow: 0px 0px 10px #d87c14;
    /* font-weight: 900; */
}

@media only screen and (max-width: 768px) {

    img {
        width: 98%;
        transform: scale(0.9);
        box-shadow: 0px 0px 5px white;
    }

    h1 {
        font-size: 4vw;
    }

    p {
        font-size: 2vw;
    }

    /* header {
        padding-top: 3vw;
    } */

    .container {
        display: block;
        padding-bottom: 2vw;
        padding-top: 2vw;
        /* margin-bottom: 1vw;
        margin-top: 1vw; */
    }

    .text {
        padding: 0.5vw 2vw 0.5vw 2vw;
    }

}
